{% extends 'base.html.twig' %}

{% block title %}Tripee{% endblock %}


{% block header %}

</head>

<body>


  <header class=header>
    <video   class="video-classic" src="{{ asset('video/AutumnSnowDrone7_1.mp4') }}" autoplay loop playsinline muted></video>
    <video class="video-woofing hidden" src="{{ asset('video/ColoradoCampingDrone16.mp4') }}" autoplay loop playsinline muted></video>
   
        <nav class="navbar navbar-expand-lg navbar-light glass">
            <div class="container-fluid">
              <a class="navbar-brand brand-name" href="{{path('home')}}">Tripee</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav col-3">
                  <li class="nav-item nav-menu">
                    <a class="nav-link active" aria-current="page" href="{{path('home')}}">Qui&nbsp;sommes&#8209nous&nbsp;? </a>                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contact-footer">Contact</a>
                  </li>
                </ul>
                <span class="col-6"></span>
                <ul class="navbar-nav col-3 flex">
                  <li class="nav-item">
                    <img src="{{ asset('img/nav/coeur.png') }}" alt="Favoris">
                  </li>
                  <li class="nav-item">
                    <img src="{{ asset('img/nav/message.png') }}" alt="Messages">
                  </li>
                  
                    <li class="nav-item"> 
                        <a href=
                        {% if app.user %}
                        "{{path('user')}}"
                        {% else %}
                        "{{path('app_login')}}"         
                                 
                        
                        
                        {% endif %}>

                          
                          

                      <img src="{{ asset('img/nav/profil.png') }}" alt="Mon profil {% if app.user %}({{ app.user }}) {% endif %}">
                      <p class="fs-6">{% if app.user %}{{ app.user.email }}{% endif %}</p>
                      </a>          
                    </li>
                  
                </ul>
              </div>
            </div>
        </nav>
        <div class="center">
          <h1>On va où ?</h1>
      </div>
        <div class="container switch-background">
          <div class="col-12 toggle-checkbox">
              <input type="checkbox" name="toggle-section" id="toggle-section" >
              <div class="toggle-background glass" >
                  <label for="toggle-section">Hébergement</label>
                  <label for="toggle-section">Wwoofing</label>
              </div>
          </div>
        </div>
       
        <div class="center">
          <div id="searchbar" class="glass row g-3">
            <form action="{{ path('lodgings') }}" method="post">
              <div class="row g-3">
                <div class="col-6 col-lg-3 champ">
                  <label for="destination">Destination</label>
                  <input type="text" class="form-control" id="destination" name="destination" placeholder="Où voulez-vous partir ?"
                    aria-label="Destination">
                </div>
                <div class="col-6 col-lg-3 champ">
                  <label for="">Dates</label>
                  <div class="date-picker">
                    <input type="date" class="form-control" name="startdate" placeholder="Date d'arrivée"
                      aria-label="Date d'arrivée">
                    <input type="date" class="form-control" name="enddate" placeholder="Date de départ"
                      aria-label="Date de départ">
                  </div>
                </div>
                <div class="col-6 col-lg-3 champ">
                  <label for="travelersNb">Voyageurs</label>
                  <input type="number" class="form-control" id="travelersNb" value="1" name="travelersNb" placeholder="1" aria-label="Last name">
                </div>
                <div class="col-6 col-lg-3 champ">
                  <label id="label-transparent" for="Submit">Submit</label>
                  <input type="submit" class="form-control" placeholder="Envoi" aria-label="Last name">
                </div>
              </div>
            </form>
          </div>
        </div>    



  </header>




{% endblock %}




{% block body %}

<div class="contenu-classique">
    
  <section id="avantages-2">
    <div class="container">
      <div class="row">
        <div class="col-12">
           <h3>Qui sommes-nous ?</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
        <div class="avantages">
          <h4>Eco-responsable</h4>
          <img src="{{ asset('img/Frame 14253.png') }}" alt="">
          <p>Un réseau de professionnels et de particuliers au service de l’éco-responsabilité</p>
      </div>
        </div>
        <div class="col-md-4">
        <div class="avantages">
          <h4>Labélisation</h4>
          <img src="{{ asset('img/premium-quality 1.png') }}" alt="">
          <p>Une certification d’éco-responsabilité établie par les utilisateurs et pour les utilisateurs</p>
      </div>
        </div>
        <div class="col-md-4">
      <div class="avantages">
          <h4>Rémunération </h4>
          <img src="{{ asset('img/Frame 20.png') }}" alt="">
          <p>3% du prix de votre réservation sur Tripee est reversée aux acteurs locaux et à leurs projets</p>
      </div>

    </div>
  </section>
  <section id="must">
    <div>
        <h2>Les Incontournables</h2>
    </div>
    <div class="wrapper">
        <div class="card">
            <h3>Le châlet du lac</h3>
            <div class="must-description">
                <img class="picto-geo" src="{{ asset('img/geo.png') }}" alt="Picto">
                <p>Courchevel</p>
            </div>
        </div>
        <div class="card">
            <h3>Le châlet du lac</h3>
            <div class="must-description">
                <img class="picto-geo" src="{{ asset('img/geo.png') }}" alt="Picto">
                <p>Courchevel</p>
            </div>
        </div>
        <div class="card">
            <h3>Le châlet du lac</h3>
            <div class="must-description">
                <img class="picto-geo" src="{{ asset('img/geo.png') }}" alt="Picto">
                <p>Courchevel</p>
            </div>
        </div>
        <div class="card">
            <h3>Le châlet du lac</h3>
            <div class="must-description">
                <img class="picto-geo" src="{{ asset('img/geo.png') }}" alt="Picto">
                <p>Courchevel</p>
            </div>
</section>
<section id="region">
  <div class="container ">
      <h1>Petit tour de France</h1>
      <div class="row g-3">
        <div class="col-6">
          <div id="Bretagne" class="p-3 card-region">
            <div class="glass">Bretagne</div>
          </div>
        </div>
        <div class="col-3">
          <div id="PACA" class="p-3 card-region">
            <div class="glass">PACA</div>
          </div>
        </div>
        <div class="col-3">
          <div id="Auvergne" class="p-3 card-region">
            <div class="glass">Auvergne</div>
          </div>
        </div>
        <div class="col-5">
          <div id="Normandie" class="p-3 card-region">
            <div class="glass">Normandie</div>
          </div>
        </div>
        <div class="col-7">
          <div id="Côte-Basque" class="p-3 card-region">
            <div class="glass">Côte Basque</div>
          </div>
        </div>
      </div>
  </div>
</section>
<section id="info">
<div class="container2">
    <div class="flex">
        <div class="col-7 col-lg-7 container-image">
            <img src="{{ asset('img/rafael-idrovo-espinoza-K7zGK78zfnQ-unsplash 1woofing.jpg') }}"  alt="">
        </div>
        <div class="col-12 col-lg-5 flex-column">
            <h2>Notre plateforme <br> de Wwoofing</h2>
            <p>Aujourd'hui le Wwoofing recense en France plus de 500 hôtes et 14 000 Wwoofers par an. </p>
            <p>Alors venez découvrir les aspects de l'agriculture biologique, de la biodynamie et de la
                permaculture</p>
                <button type="button" class="btn btn-primary">En savoir plus</button>
        </div>
    </div>




    <div class="flex ambassadeur">
        <div class="col-12 col-lg-5 flex-column">
            <h2>Devenir un Tripster ?</h2>
            <p>Aujourd'hui le Wwoofing recense en France plus de 500 hôtes et 14 000 Wwoofers par an. </p>
            <p>Alors venez découvrir les aspects de l'agriculture biologique, de la biodynamie et de la
                permaculture</p>
                <button type="button" class="btn btn-primary">En savoir plus</button>
        </div>
        <div class="col-6 col-lg-7 container-image">
            <img src="{{ asset('img/Tripster.jpg') }}" alt="">
        </div>
    </div>
  
</div>
</section>
</div>
</div>
<div id="section-woofing" class="hidden">

<section id="wwoofing-presentation" class="row">
<div class="col-6 principes">
  <h3>Les principes du Wwoofing</h3>
  <p>Il s’agit de travailler au sein d’une ferme biologique en échange du gîte et du couvert. Le wwoofer a accès, en contrepartie de sa force de travail, à un hébergement et des repas sur une courte ou plus longue durée (quelques jours à quelques mois).</p>
  
</div>
<div class="col-6 contrepartie">
  <h3>Hôtes et wwoofers </h3>
  <p>Travailler dans une exploitation agricole biologique en woofing s’envisage comme un ensemble de missions définies à l’avance avec votre hôte. Les wwoofers n’ont pas d’obligation de rentabilité et n’ont aucun lien de subordination avec les hôtes.</p>

</div>

</section>

<section id="solution" class="row">
<div class="col-0 col-lg-4">
  <img src="{{ asset('img/Group 105.png') }}" alt="">
</div>
<div class="col-12 col-lg-8">
  <h3>Une solution de voyage économique</h3>
  <p>Comme chacun sait, disposer d’un toit à l’étranger et se nourrir revient cher en principe, surtout sur une longue période. Or, c’est là l’un des principaux avantages du woofing : il vous permet de réaliser de très importantes économies sur le prix global du voyage. Vos seuls frais de séjour sont le billet d’avion et les frais de loisirs que vous pourrez exposer par ailleurs (tourisme, activité, etc.).</p>
  <p>
  Vous pouvez ainsi apprendre plus facilement une langue, découvrir une région du monde inconnue, découvrir une nouvelle culture, mais également de vous former aux tâches agricoles. C’est d’ailleurs la raison d’être initial, du woofing, lequel se veut avant tout une occasion de transmettre au grand public le savoir-faire utilisé au sein d’une ferme biologique.
</p>
</div>
</section>

<section id="avantages">
<div class="container">
  <div class="row">
    <div class="col-12">
       <h3>Les avantages du Wwoofing</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    <div class="avantages">
      <h4>Initiez-vous</h4>
      <img src="{{ asset('img/brouette.png') }}" alt="">
      <p>Pas besoin d’être un fin connaisseur du compostage ou de l’apiculture !</p>
  </div>
    </div>
    <div class="col-md-4">
    <div class="avantages">
      <h4>Créez du lien social</h4>
      <img src="{{ asset('img/mountain-icon.png') }}" alt="">
      <p>Le wwoofing est ouvert à tout le monde, quelque soit l’âge ou la nationalité.</p>
  </div>
    </div>
    <div class="col-md-4">
  <div class="avantages">
      <h4>Economisez de l'argent </h4>
      <img src="{{ asset('img/pig.png') }}" alt="">
      <p>Le wwoofing exclut tout échange monétaire et propose justement un modèle alternatif.</p>
  </div>

</div>
</section>

</div>


<script>

let toggle = document.getElementById('toggle-section');
console.log(toggle);

let wwoofing = document.getElementById('section-woofing');
let classic = document.querySelector('.contenu-classique');
let videoWoofing = document.querySelector('.video-woofing');
let videoClassic = document.querySelector('.video-classic');

toggle.addEventListener('change', function(){

  
    classic.classList.toggle('hidden');
    wwoofing.classList.toggle('hidden');
    videoWoofing.classList.toggle('hidden');
    videoClassic.classList.toggle('hidden');
  
  
})

</script>


{% endblock %}



 {#  <h1>Tripee</h1>#}
    {# <a href="hebergement">Hébergements</a>#}

   {# React  #}
    {# <div id="root"></div> #}