{% extends 'base.html.twig' %}

{% block title %}{{lodging.title}}{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<div class="example-wrapper">
    <h1>{{lodging.title}}</h1>
    <p>{{lodging.address.city}}</p>
    <p>Hôte : {{lodging.host}}</p>
    <p>{{lodging.description}}</p>
    <p>Note : {{lodging.rating}}</p>





    <div>Adresse (pour le plan) : {{lodging.address}}</div>
    <style>
        #map {
            height:180px;
        }
    </style>
    <div data-address="{{lodging.address.address|escape('js')}} , {{ lodging.address.zipcode }}" id="map"></div>

    <script>
        function search(address) {

           
            window.fetch('https://api-adresse.data.gouv.fr/search/?q=%27' + address)
                .then(function (httpResponse) {
                    return httpResponse.json();
                })
                .then(function (results) {
                    let latitude = results.features[0].geometry.coordinates[0];
                    let longitude = results.features[0].geometry.coordinates[1];
                    map = L.map('map').setView([longitude, latitude], 16);
                    L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Tiles style by <a href="https://www.hotosm.org/" target="_blank">Humanitarian OpenStreetMap Team</a> hosted by <a href="https://openstreetmap.fr/" target="_blank">OpenStreetMap France</a>'
                    }).addTo(map);                 

                   
                    L.marker([longitude, latitude]).addTo(map);
                });
        }
  
        search('{{lodging.address.address|escape('js')}} ',' {{ lodging.address.zipcode }}');

    </script>


   

    




</div>
{% endblock %}