{% extends 'base-nav.html.twig' %}

{% block title %}Hébergements{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{asset('css/lodgings.css')}}">
<link rel="stylesheet" href="{{ asset('css/navbar.css') }}">

{% endblock %}


{% block body %}
<main>

    <section id="cheminade">
<div class="container row">
    <div class="dropdown col-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Prix
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#"> Moins de 30€ </a></li>
          <li><a class="dropdown-item" href="#">Entre 30€ et 50€ / Nuit</a></li>
          <li><a class="dropdown-item" href="#">Entre 50€ et 80€ / Nuit</a></li>
        </ul>
      </div>
      <div class="dropdown col-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Type d'habitation
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Gîte</a></li>
          <li><a class="dropdown-item" href="#">Auberge de jeunesse</a></li>
          <li><a class="dropdown-item" href="#">Hôtel</a></li>
        </ul>
      </div>
      <div class="dropdown col-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Equipement
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Wi-Fi</a></li>
          <li><a class="dropdown-item" href="#">Accessible aux PMR</a></li>
          <li><a class="dropdown-item" href="#">Cuisine équipée</a></li>
        </ul>
      </div>
      <div class="dropdown col-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Activités
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Cyclisme</a></li>
          <li><a class="dropdown-item" href="#">Trek</a></li>
          <li><a class="dropdown-item" href="#">Randonnée</a></li>
          <li><a class="dropdown-item" href="#">Tennis</a></li>
          <li><a class="dropdown-item" href="#">Pêche</a></li>

        </ul>
      </div>
    </div>
</section>


    <section id="cheminade">

        <div class="container row">
            <div class="thing"> 
            </div>
            <div class="col-7">

              {% for lodging in lodgings %}

                <div class="divception">
                    <div class="flex">
                        <div class="Col-3">
                            <img src="{{ asset('img/lodgings/')}}{{lodging.photo1}}">
                        </div>
                        <div class="texte">
                            <div class="Col-3">
                                <h2>{{lodging.title}}</h2>
                                <div class="rating">
                                  {% if lodging.rating %}
                                    {% for i in 1 .. lodging.rating %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                                        <path
                                            d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z" />
                                        </svg>
                                    {% endfor %}
                                    {% for i in 1 .. (5 - lodging.rating) %}
                                        <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                        <path
                                            d="M15.668 8.626l8.332 1.159-6.065 5.874 1.48 8.341-7.416-3.997-7.416 3.997 1.481-8.341-6.064-5.874 8.331-1.159 3.668-7.626 3.669 7.626zm-6.67.925l-6.818.948 4.963 4.807-1.212 6.825 6.068-3.271 6.069 3.271-1.212-6.826 4.964-4.806-6.819-.948-3.002-6.241-3.001 6.241z" />
                                        </svg>
                                    {% endfor %}
                               {% endif %}

                                </div>
                                {% if lodging.shortdescription %}
                                <p>{{lodging.shortdescription|raw}} </p>
                                  {% else %} 
                                  <p>{{lodging.description|slice(0, 200)|split(' ')|slice(0, -1)|join(' ')|raw}}...</div></p>
                                  {% endif %}
                               
                                <div class="price">
                                    <div class="align-text">
                                        <b>{{lodging.price|number_format(2, ',', ' ')}}€/Nuit</b>
                                        <button> <a class="button" href="{{ path('lodging', {'id' : lodging.id }) }}">Montre-moi!</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
         
            </div>
            <div class="flex col-5 ">
                <div id="index-map" class="index-map"></div>
            </div>
        </div>
    </section>
    


</main>



<script>
    let map;
let TabGeo = [];

showCarte();

{% for lodging in lodgings %}

    addMarkerFromAdress("{{lodging.address.address|escape('js')}} , {{ lodging.address.zipcode }}");
  

{% endfor %}

    autoBound();
    function showCarte(){
  map = L.map('index-map').setView([2.572276, 49.203509], 16);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);
}

function addMarkerFromAdress(address){
  window.fetch('https://api-adresse.data.gouv.fr/search/?q='+address)
  .then(function(httpResponse){
        return httpResponse.json();
  })
  .then(function(results)
  {
      let latitude = results.features[0].geometry.coordinates[0];
      let longitude = results.features[0].geometry.coordinates[1];
      let marker = L.marker([longitude, latitude]).addTo(map);
      TabGeo.push(marker);
      autoBound();
  });
}

function autoBound(){
  var group = new L.featureGroup(TabGeo);
  map.fitBounds(group.getBounds());
}


</script>



{% endblock %}

