{% extends 'base.html.twig' %}

{% block title %}Hébergements{% endblock %}

{% block body %}

{% for lodging in lodgings %}

<ul>
    <li><a href="#"></a>{{lodging.title}}</li>
    <li>{{lodging.description}}</li>
    <li>Hôte : {{lodging.host}}</li>
    <li>{{lodging.address.address}}</li>
    <li>{{lodging.address.city}}</li>
    

    {% if post %}
    <li>{{startdate}}</li>
    <li>{{enddate}}</li>
    <li>{{travelersNb}}</li>


    {% endif %}





   </ul>


{% endfor %}

   
{# <div id='root'></div> #}



{% endblock %}
