{% extends 'base.html.twig' %}

{% block title %}Hébergements{% endblock %}

{% block body %}

{% for lodging in lodgings %}

<ul>
<li>{{lodging.title}}</li>
<li>{{lodging.description}}</li>
<li>{{lodging.host}}</li>
<li>{{lodging.address.city}}</li>
<li>{{lodging.address}}</li>



</ul>


{% endfor %}

   
{# <div id='root'></div> #}



{% endblock %}
