<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Accueil{% endblock %}</title>
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🌍</text></svg>">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,700;0,800;1,300;1,500;1,700;1,800&display=swap"
    rel="stylesheet">

    {# Leaflet CSS #}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    {# Leaflet JS #}
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>  {% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
  {% endblock %}
  <link rel="stylesheet" href="{{ asset('css/style.css') }}">

  {% block javascripts %}
  {{ encore_entry_script_tags('app') }}
  {% endblock %}
</head>

<body>
  <div class="header">
    <nav class="navbar navbar-expand-lg navbar-light glass">
      <div class="container-fluid">
        <a class="navbar-brand brand-name" href="#">Tripee</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav col-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Qui sommes-nous ? </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
          <span class="col-6"></span>
          <ul class="navbar-nav col-3 flex">
            <li class="nav-item">
              <img src="{{ asset('img/nav/coeur.png') }}" alt="Favoris">
            </li>
            <li class="nav-item">
              <img src="{{ asset('img/nav/message.png') }}" alt="Messages">
            </li>
            <li class="nav-item">
              <img src="{{ asset('img/nav/profil.png') }}" alt="Mon profil">
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container switch-background">
      <div class="col-12 toggle-checkbox">
        <input type="checkbox" name="toggle-section" id="toggle-section">
        <div class="toggle-background glass">
          <label for="toggle-section">Hébergement</label>
          <label for="toggle-section">Wwoofing</label>
        </div>
      </div>
    </div>
    <div class="center">
      <h1>On va où ?</h1>
    </div>
    <div class="center">
      <div id="searchbar" class="glass row g-3">
        <form action="{{ path('lodgings') }}" method="post">
          <div class="row g-3">
            <div class="col-6 col-lg-3 champ">
              <label for="destination">Destination</label>
              <input type="text" class="form-control" id="destination" name="destination" placeholder="Où voulez-vous partir ?"
                aria-label="Destination">
            </div>
            <div class="col-6 col-lg-3 champ">
              <label for="">Dates</label>
              <div class="date-picker">
                <input type="date" class="form-control" name="startdate" placeholder="Date d'arrivée"
                  aria-label="Date d'arrivée">
                <input type="date" class="form-control" name="enddate" placeholder="Date de départ"
                  aria-label="Date de départ">
              </div>
            </div>
            <div class="col-6 col-lg-3 champ">
              <label for="travelersNb">Voyageurs</label>
              <input type="number" class="form-control" id="travelersNb" value="1" name="travelersNb" placeholder="1" aria-label="Last name">
            </div>
            <div class="col-6 col-lg-3 champ">
              <label id="label-transparent" for="Submit">Submit</label>
              <input type="submit" class="form-control" placeholder="Envoi" aria-label="Last name">
            </div>
          </div>
        </form>
      </div>
    </div>
    </video>



  </div>
  {% block body %}{% endblock %}
  <footer>
    <div class="container">
      <div class="row row-one">
        <div class="side-footer col-12 col-lg-6">
          <div id="contact-footer">
            <h3>Nous contacter</h3>
            <div class="contact-info">

              <img src="{{ asset('img/footer/phone.png') }}" alt="téléphone">
              <p> 07 56 97 26 45</p>
            </div>
            <div class="contact-info">
              <img src="{{ asset('img/footer/letter.png') }}" alt="mail">
              <p> contact@tripee.fr</p>
            </div>
            <div class="contact-info">
              <img src="{{ asset('img/footer/geo.png') }}" alt="téléphone">
              <p> 6 bis rue du Chaudron 75010</p>
            </div>
          </div>
          <div id="RS-footer">
            <h3>Réseaux sociaux</h3>
            <div class="RS-picto">
              <img src="{{ asset('img/footer/facebook.png') }}" alt="Facebook">
              <img src="{{ asset('img/footer/instagram.png') }}" alt="Instagram">
              <img src="{{ asset('img/footer/twitter.png') }}" alt="Twitter">
            </div>
          </div>
        </div>
        <div id="form-footer" class="col-12 col-lg-6">
          <form action="">
            <input type="text" id="first-name" placeholder="Prénom">
            <input type="text" id="second-name" placeholder="Nom">
            <input type="email" id="email" placeholder="E-mail">
            <textarea name="message" id="message" placeholder="Votre message"></textarea>
            <input type="submit">
            <div class="checkbox-conditions">
              <input type="checkbox" id="CGU" name=CGU required>
              <label for="CGU"> Vous affirmez avoir pris connaissance de notre politique de confidentialité. En cas de
                problème, vous pouvez nous contacter à l’adresse contact@tripee.fr</label>
            </div>
            <div class="checkbox-conditions">
              <input type="checkbox" id="newsletter" name=newsletter>
              <label for="newsletter"> <span id="newsletter-highlight"> Je m'abonne à la Newsletter Tripee</span>
              </label>
            </div>
          </form>
        </div>
      </div>
      <div class="row" id="end-footer">
        <div class="col-12 col-lg">
          <a href="#">Mentions légales et CGU</a>
        </div>
        <div class="col-12 col-lg">
          <a href="#">CGV</a>
        </div>
        <div class="col-12 col-lg">
          <a href="#">Politique de confidentialité</a>
        </div>
        <div class="col-12 col-lg">
          <a href="#">FAQ</a>
        </div>
        <div class="col-12 col-lg">
          <a href="#">Gérer mes cookies</a>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>